body{
	padding: 10px;
}
.wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 5px;
}
img{
  width: 100px; height: 200px;
	border-radius: 20px;
	box-shadow: 2px 2px 10px #666;
}
.box{
	padding: 10px;
}